* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1550px;
}

/* Arka plan resmini tam ekran kaplayacak şekilde hizalama */
.background-img {
    background-image: url("../Images/Index/index_walpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* 🔹 Resmi tam ortaya hizalar */
    width: 100vw; /* 🔹 Sayfanın tamamını kaplasın */
    height: 100vh; /* 🔹 Ekranın tamamını kaplasın */
    position: absolute; /* 🔹 Sayfanın arka planında sabit dursun */
    top: 0;
    left: 0;
    z-index: -1; /* 🔹 İçeriğin altında kalmasını sağlar */
}

.nav-item {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 20px;
}

.nav-link {
    color: #977F5D;
    font-family: 'Titillium Web', sans-serif;
    padding: 20px 40px;
    transition: all .3s;
}

    .nav-link:hover {
        color: whitesmoke;
    }

.navbar-brand {
    color: #977F5D;
}

.banner {
    background-color: #977F5D;
}
