<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/Singup.css" asp-append-version="true" />
    <title>Sign Up</title>
</head>
<body>
    <section>
        <div class="px-4 py-5 px-md-5 text-center text-lg-start">
            <div class="container">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <!-- Sol Tarafta Form -->
                            <div class="form-container flex-fill">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="firstName" name="FirstName" class="form-control" required />
                                                <label class="form-label" for="firstName">Ad</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="lastName" name="LastName" class="form-control" required />
                                                <label class="form-label" for="lastName">Soyad</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="userNickName" name="UserNickName" class="form-control" required />
                                        <label class="form-label" for="userNickName">Kullanıcı Adı</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" name="Email" class="form-control" required />
                                        <label class="form-label" for="email">E-posta adresi</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" name="Password" class="form-control" required />
                                        <label class="form-label" for="password">Şifre</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block mb-4">Kayıt Ol</button>
                                </form>
                            </div>

                            <!-- Sağ Tarafta Resim -->
                            <div class="image-container">
                                <img src="/Images/Singup/sing_up_1.jpg" alt="Yan Resim" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
